# Project

### Importando as bibliotecas

In [1]:
import sys
sys.path.append('..')
import pandas as pd
import requests
import pprint
import params.consts as consts

### Fazendo a requisi√ß√£o get para a API

In [2]:
response = requests.get(consts.URL_API) # Fazendo uma requisi√ß√£o get para a API

### Verificando o status code da API

In [3]:
if response.status_code == 200: # Criando uma condi√ß√£o para informar o status code da requisi√ß√£o da API
    print('Status Code: 200 - Ok\n\nA requisi√ß√£o foi bem sucedida.')
elif response.status_code == 404:
    print('Status Code: 404 - Not Found.\n\nO servidor n√£o encontrou uma representa√ß√£o atual do recurso solicitado.')
else:
    print(f'Status Code: {response.status_code}')

Status Code: 200 - Ok

A requisi√ß√£o foi bem sucedida.

### Verificando o tipo de dado retornado pela API

In [4]:
response.headers['Content-Type'] # Verificando o tipo de dado retornado pela API, geralmente em JSON

'application/json'

### Armazenando o retorno em uma vari√°vel

In [5]:
response_all = response.json() # Armazenando o retorno em uma vari√°vel

### Verificando o tamanho do JSON retornado

In [6]:
len(response_all) # Verificando o tamanho do JSON retornado

250

### Verificando as chaves do JSON retornado

In [7]:
for key in response_all[0].keys(): # Criando uma estrutura de repeti√ß√£o para listar as chaves do JSON retornado
    print(key)

name
tld
cca2
ccn3
cca3
independent
status
unMember
currencies
idd
capital
altSpellings
region
languages
translations
latlng
landlocked
area
demonyms
flag
maps
population
car
timezones
continents
flags
coatOfArms
startOfWeek
capitalInfo

### Verificando os dados retornados

In [8]:
pprint.pprint(response_all[0]) # Verificando o primeiro json/dicion√°rio retornado

{'altSpellings': ['GS', 'South Georgia and the South Sandwich Islands'],
 'area': 3903.0,
 'capital': ['King Edward Point'],
 'capitalInfo': {'latlng': [-54.28, -36.5]},
 'car': {'side': 'right', 'signs': ['']},
 'cca2': 'GS',
 'cca3': 'SGS',
 'ccn3': '239',
 'coatOfArms': {},
 'continents': ['Antarctica'],
 'currencies': {'SHP': {'name': 'Saint Helena pound', 'symbol': '¬£'}},
 'demonyms': {'eng': {'f': 'South Georgian South Sandwich Islander',
                      'm': 'South Georgian South Sandwich Islander'}},
 'flag': 'üá¨üá∏',
 'flags': {'png': 'https://flagcdn.com/w320/gs.png',
           'svg': 'https://flagcdn.com/gs.svg'},
 'idd': {'root': '+5', 'suffixes': ['00']},
 'independent': False,
 'landlocked': False,
 'languages': {'eng': 'English'},
 'latlng': [-54.5, -37.0],
 'maps': {'googleMaps': 'https://goo.gl/maps/mJzdaBwKBbm2B81q9',
          'openStreetMaps': 'https://www.openstreetmap.org/relation/1983629'},
 'name': {'common': 'South Georgia',
          'nativeName': {'eng': {'common': 'South Georgia',
                                 'official': 'South Georgia and the South '
                                             'Sandwich Islands'}},
          'official': 'South Georgia and the South Sandwich Islands'},
 'population': 30,
 'region': 'Antarctic',
 'startOfWeek': 'monday',
 'status': 'officially-assigned',
 'timezones': ['UTC-02:00'],
 'tld': ['.gs'],
 'translations': {'ara': {'common': 'ÿ¨Ÿàÿ±ÿ¨Ÿäÿß ÿßŸÑÿ¨ŸÜŸàÿ®Ÿäÿ©',
                          'official': 'ÿ¨Ÿàÿ±ÿ¨Ÿäÿß ÿßŸÑÿ¨ŸÜŸàÿ®Ÿäÿ© Ÿàÿ¨ÿ≤ÿ± ÿ≥ÿßŸÜÿØŸàÿ™ÿ¥ ÿßŸÑÿ¨ŸÜŸàÿ®Ÿäÿ©'},
                  'bre': {'common': 'Georgia ar Su hag Inizi Sandwich ar Su',
                          'official': 'Georgia ar Su hag Inizi Sandwich ar Su'},
                  'ces': {'common': 'Ji≈æn√≠ Georgie a Ji≈æn√≠ Sandwichovy ostrovy',
                          'official': 'Ji≈æn√≠ Georgie a Ji≈æn√≠ Sandwichovy '
                                      'ostrovy'},
                  'cym': {'common': 'South Georgia',
                          'official': 'South Georgia and the South Sandwich '
                                      'Islands'},
                  'deu': {'common': 'S√ºdgeorgien und die S√ºdlichen '
                                    'Sandwichinseln',
                          'official': 'S√ºdgeorgien und die S√ºdlichen '
                                      'Sandwichinseln'},
                  'est': {'common': 'L√µuna-Georgia ja L√µuna-Sandwichi saared',
                          'official': 'L√µuna-Georgia ja L√µuna-Sandwichi '
                                      'saared'},
                  'fin': {'common': 'Etel√§-Georgia ja Etel√§iset Sandwichsaaret',
                          'official': 'Etel√§-Georgia ja Etel√§iset '
                                      'Sandwichsaaret'},
                  'fra': {'common': 'G√©orgie du Sud-et-les √éles Sandwich du '
                                    'Sud',
                          'official': 'G√©orgie du Sud et les √Æles Sandwich du '
                                      'Sud'},
                  'hrv': {'common': 'Ju≈æna Georgija i otoƒçje Ju≈æni Sandwich',
                          'official': 'Ju≈æna D≈æord≈æija i Otoci Ju≈æni Sendviƒç'},
                  'hun': {'common': 'D√©li-Georgia √©s D√©li-Sandwich-szigetek',
                          'official': 'D√©li-Georgia √©s D√©li-Sandwich-szigetek'},
                  'ita': {'common': 'Georgia del Sud e Isole Sandwich '
                                    'Meridionali',
                          'official': 'Georgia del Sud e isole Sandwich del '
                                      'Sud'},
                  'jpn': {'common': '„Çµ„Ç¶„Çπ„Ç∏„Éß„Éº„Ç∏„Ç¢„Éª„Çµ„Ç¶„Çπ„Çµ„É≥„Éâ„Ç¶„Ç£„ÉÉ„ÉÅË´∏Â≥∂',
                          'official': '„Çµ„Ç¶„Çπ„Ç∏„Éß„Éº„Ç∏„Ç¢¬∑„Çµ„Ç¶„Çπ„Çµ„É≥„Éâ„Ç¶„Ç£„ÉÉ„ÉÅË´∏Â≥∂'},
                  'kor': {'common': 'Ï°∞ÏßÄÏïÑ', 'official': 'Ï°∞ÏßÄÏïÑ'},
                  'nld': {'common': 'Zuid-Georgia en Zuidelijke '
                                    'Sandwicheilanden',
                          'official': 'Zuid-Georgi√´ en de Zuidelijke '
                                      'Sandwich-eilanden'},
                  'per': {'common': 'ÿ¨ÿ≤ÿß€åÿ± ÿ¨Ÿàÿ±ÿ¨€åÿß€å ÿ¨ŸÜŸàÿ®€å Ÿà ÿ≥ÿßŸÜÿØŸà€å⁄Ü ÿ¨ŸÜŸàÿ®€å',
                          'official': 'ÿ¨ÿ≤ÿß€åÿ± ÿ¨Ÿàÿ±ÿ¨€åÿß€å ÿ¨ŸÜŸàÿ®€å Ÿà ÿ≥ÿßŸÜÿØŸà€å⁄Ü ÿ¨ŸÜŸàÿ®€å'},
                  'pol': {'common': 'Georgia Po≈Çudniowa i Sandwich Po≈Çudniowy',
                          'official': 'Georgia Po≈Çudniowa i Sandwich '
                                      'Po≈Çudniowy'},
                  'por': {'common': 'Ilhas Ge√≥rgia do Sul e Sandwich do Sul',
                          'official': 'Ge√≥rgia do Sul e Sandwich do Sul'},
                  'rus': {'common': '–Æ–∂–Ω–∞—è –ì–µ–æ—Ä–≥–∏—è –∏ –Æ–∂–Ω—ã–µ –°–∞–Ω–¥–≤–∏—á–µ–≤—ã –æ—Å—Ç—Ä–æ–≤–∞',
                          'official': '–Æ–∂–Ω–∞—è –ì–µ–æ—Ä–≥–∏—è –∏ –Æ–∂–Ω—ã–µ –°–∞–Ω–¥–≤–∏—á–µ–≤—ã '
                                      '–æ—Å—Ç—Ä–æ–≤–∞'},
                  'slk': {'common': 'Ju≈æn√° Georgia a Ju≈æn√© Sandwichove ostrovy',
                          'official': 'Ju≈æn√° Georgia a Ju≈æn√© Sandwichove '
                                      'ostrovy'},
                  'spa': {'common': 'Islas Georgias del Sur y Sandwich del Sur',
                          'official': 'Georgia del Sur y las Islas Sandwich '
                                      'del Sur'},
                  'srp': {'common': '–à—É–∂–Ω–∞ –è–æ—Ä—ü–∏—ò–∞ –∏ –à—É–∂–Ω–∞ –°–µ–Ω–¥–≤–∏—á–∫–∞ –û—Å—Ç—Ä–≤–∞',
                          'official': '–à—É–∂–Ω–∞ –è–æ—Ä—ü–∏—ò–∞ –∏ –à—É–∂–Ω–∞ –°–µ–Ω–¥–≤–∏—á–∫–∞ –û—Å—Ç—Ä–≤–∞'},
                  'swe': {'common': 'Sydgeorgien', 'official': 'Sydgeorgien'},
                  'tur': {'common': 'G√ºney Georgia ve G√ºney Sandwich Adalarƒ±',
                          'official': 'G√ºney Georgia ve G√ºney Sandwich '
                                      'Adalarƒ±'},
                  'urd': {'common': 'ÿ¨ŸÜŸàÿ®€å ÿ¨ÿßÿ±ÿ¨€åÿß',
                          'official': 'ÿ¨ŸÜŸàÿ®€å ÿ¨ÿßÿ±ÿ¨€åÿß Ÿà ÿ¨ÿ≤ÿßÿ¶ÿ± ÿ¨ŸÜŸàÿ®€å ÿ≥€åŸÜ⁄àŸà⁄Ü'},
                  'zho': {'common': 'Âçó‰πîÊ≤ª‰∫ö', 'official': 'Âçó‰πîÊ≤ª‰∫öÂ≤õÂíåÂçóÊ°ëÂ®ÅÂ•áÁæ§Â≤õ'}},
 'unMember': False}

### Definindo as chaves que ser√£o usadas para criar o dataset

- area
- capital
- continents
- idd
- name
- population

### Otimizando a consulta √† API para retornar apenas os dados que ser√£o utilizados no dataset

In [9]:
response = requests.get(consts.URL_API_FILTERED) # Fazendo uma requisi√ß√£o get para a API com filtros de somente os dados necess√°rios

### Verificando o status code da API

In [10]:
if response.status_code == 200: # Criando uma condi√ß√£o para informar o status code da requisi√ß√£o da API
    print('Status Code: 200 - Ok\n\nA requisi√ß√£o foi bem sucedida.')
elif response.status_code == 404:
    print('Status Code: 404 - Not Found.\n\nO servidor n√£o encontrou uma representa√ß√£o atual do recurso solicitado.')
else:
    print(f'Status Code: {response.status_code}')

Status Code: 200 - Ok

A requisi√ß√£o foi bem sucedida.

### Verificando o tipo de dado retornado pela API

In [11]:
response.headers['Content-Type'] # Verificando o tipo de dado retornado pela API, geralmente em JSON

'application/json'

### Armazenando o retorno em uma vari√°vel

In [12]:
response_all = response.json() # Armazenando o retorno em uma vari√°vel

### Verificando o tamanho do JSON retornado

In [13]:
len(response_all) # Verificando o tamanho do JSON retornado

250

### Verificando as chaves do JSON retornado

In [14]:
for key in response_all[0].keys(): # Criando uma estrutura de repeti√ß√£o para listar as chaves do JSON retornado
    print(key)

name
idd
capital
area
population
continents

### Verificando os dados retornados

In [15]:
pprint.pprint(response_all[:3]) # Verificando os 3 primeiros json/dicion√°rio retornados

[{'area': 3903.0,
  'capital': ['King Edward Point'],
  'continents': ['Antarctica'],
  'idd': {'root': '+5', 'suffixes': ['00']},
  'name': {'common': 'South Georgia',
           'nativeName': {'eng': {'common': 'South Georgia',
                                  'official': 'South Georgia and the South '
                                              'Sandwich Islands'}},
           'official': 'South Georgia and the South Sandwich Islands'},
  'population': 30},
 {'area': 344.0,
  'capital': ["St. George's"],
  'continents': ['North America'],
  'idd': {'root': '+1', 'suffixes': ['473']},
  'name': {'common': 'Grenada',
           'nativeName': {'eng': {'common': 'Grenada', 'official': 'Grenada'}},
           'official': 'Grenada'},
  'population': 112519},
 {'area': 41284.0,
  'capital': ['Bern'],
  'continents': ['Europe'],
  'idd': {'root': '+4', 'suffixes': ['1']},
  'name': {'common': 'Switzerland',
           'nativeName': {'fra': {'common': 'Suisse',
                                  'official': 'Conf√©d√©ration suisse'},
                          'gsw': {'common': 'Schweiz',
                                  'official': 'Schweizerische '
                                              'Eidgenossenschaft'},
                          'ita': {'common': 'Svizzera',
                                  'official': 'Confederazione Svizzera'},
                          'roh': {'common': 'Svizra',
                                  'official': 'Confederaziun svizra'}},
           'official': 'Swiss Confederation'},
  'population': 8654622}]

### Criando o dataset com os dados retornados

In [16]:
df = pd.DataFrame(response_all) # Criando o dataset com os dados retornados

df.head() # Exibindo o dataset

,name,idd,capital,area,population,continents
0,"{'common': 'South Georgia', 'official': 'South...","{'root': '+5', 'suffixes': ['00']}",[King Edward Point],3903.0,30,[Antarctica]
1,"{'common': 'Grenada', 'official': 'Grenada', '...","{'root': '+1', 'suffixes': ['473']}",[St. George's],344.0,112519,[North America]
2,"{'common': 'Switzerland', 'official': 'Swiss C...","{'root': '+4', 'suffixes': ['1']}",[Bern],41284.0,8654622,[Europe]
3,"{'common': 'Sierra Leone', 'official': 'Republ...","{'root': '+2', 'suffixes': ['32']}",[Freetown],71740.0,7976985,[Africa]
4,"{'common': 'Hungary', 'official': 'Hungary', '...","{'root': '+3', 'suffixes': ['6']}",[Budapest],93028.0,9749763,[Europe]

### Criando uma lista com os dados organizados

In [17]:
paises = [] # Criando uma lista vazia para receber os pa√≠ses

for pais in response_all: # Criando uma estrutura de repeti√ß√£o para extrair os dados e gerar um dataset otimizado
    item = {
        'country': pais['name']['common'],
        'capital': pais['capital'][0] if 'capital' in pais and len(pais['capital']) > 0 else 'N/A',
        'continents': pais['continents'][0],
        'area': pais['area'],
        'population': pais['population'],
        'idd': pais['idd']['root'],
    }
    paises.append(item) # Adicionando o item a lista de pa√≠ses

(paises)[:5] # Exibindo os dados dos pa√≠ses

[{'country': 'South Georgia',
  'capital': 'King Edward Point',
  'continents': 'Antarctica',
  'area': 3903.0,
  'population': 30,
  'idd': '+5'},
 {'country': 'Grenada',
  'capital': "St. George's",
  'continents': 'North America',
  'area': 344.0,
  'population': 112519,
  'idd': '+1'},
 {'country': 'Switzerland',
  'capital': 'Bern',
  'continents': 'Europe',
  'area': 41284.0,
  'population': 8654622,
  'idd': '+4'},
 {'country': 'Sierra Leone',
  'capital': 'Freetown',
  'continents': 'Africa',
  'area': 71740.0,
  'population': 7976985,
  'idd': '+2'},
 {'country': 'Hungary',
  'capital': 'Budapest',
  'continents': 'Europe',
  'area': 93028.0,
  'population': 9749763,
  'idd': '+3'}]

### Otimizando o dataset com os dados organizados

In [18]:
df = pd.DataFrame(paises) # Criando o dataset com os dados retornados

df.head() # Exibindo o in√≠cio do dataset

         country            capital     continents     area  population idd
0  South Georgia  King Edward Point     Antarctica   3903.0          30  +5
1        Grenada       St. George's  North America    344.0      112519  +1
2    Switzerland               Bern         Europe  41284.0     8654622  +4
3   Sierra Leone           Freetown         Africa  71740.0     7976985  +2
4        Hungary           Budapest         Europe  93028.0     9749763  +3

In [19]:
df.tail() # Exibindo o fim do dataset

         country     capital     continents      area  population idd
245      Belgium    Brussels         Europe   30528.0    11555997  +3
246       Israel   Jerusalem           Asia   20770.0     9216900  +9
247  New Zealand  Wellington        Oceania  270467.0     5084300  +6
248    Nicaragua     Managua  North America  130373.0     6624554  +5
249     Anguilla  The Valley  North America      91.0       13452  +1

### Salvando o dataset

In [20]:
df.to_csv(consts.DATASET, index=False) # Salvando o dataset em formato csv