# Analysis

### Importando as bibliotecas

In [1]:
import sys
sys.path.append('..')
import pandas as pd

### Lendo o dataset

In [2]:
df = pd.read_excel('../data/base_dados.xlsx') # Armazenando o dataset em uma variável

In [3]:
display(df.head(3)) # Exibindo as 3 primeiras linhas do dataset

display(df.tail(3)) # Exibindo as 3 últimas linhas do dataset

,Empresa,Ticker,Valor Atual,Min 52 Semanas,Max 52 Semanas,Dividend Yield,Valorizacao 12 Meses,P/L,Margem Bruta,Margem Líquida,ROE,ROIC,CAGR Receitas 5 Anos,CAGR Lucros 5 Anos,Patrimônio Líquido,Valor de Mercado,Setor,Subsetor,Segmento
0,Bb Seguridade,BBSE3,36.68,28.58,36.68,0.0781,0.2223,8.75,NaN,NaN,0.8337,NaN,NaN,0.1884,10061717000,73340000000,Financeiro e Outros,Previdência e Seguros,Seguradoras
1,Mahle-Metal Leve,LEVE3,33.56,28.97,36.26,0.2380,0.0027,5.97,0.2931,0.1758,0.6870,0.3193,0.1086,0.2119,1109849000,4541911890,Consumo Cíclico,Automóveis e Motocicletas,Automóveis e Motocicletas
2,Cury Construtora E Incorporadora S.A.,CURY3,23.28,13.92,23.31,0.0790,0.3974,11.69,0.3815,0.1712,0.6372,0.2907,0.2568,0.3475,913453000,6765664540,Consumo Cíclico,Construção Civil,Incorporações

,Empresa,Ticker,Valor Atual,Min 52 Semanas,Max 52 Semanas,Dividend Yield,Valorizacao 12 Meses,P/L,Margem Bruta,Margem Líquida,ROE,ROIC,CAGR Receitas 5 Anos,CAGR Lucros 5 Anos,Patrimônio Líquido,Valor de Mercado,Setor,Subsetor,Segmento
3,Plano & Plano Desenvolvimento Imobiliário S.A.,PLPL3,12.36,7.53,14.49,NaN,0.2012,8.57,0.3277,0.1235,0.4744,0.3063,NaN,NaN,623151000,2545029760,Consumo Cíclico,Construção Civil,Incorporações
4,Odontoprev,ODPV3,11.69,9.43,12.29,0.0909,0.1177,12.31,0.3061,0.2381,0.4257,0.3602,0.0588,0.1304,1234901000,6475249170,Saúde,Serv.Méd.Hospit..Análises e Diagnósticos,Serv.Méd.Hospit..Análises e Diagnósticos
5,Engie Brasil,EGIE3,45.70,38.15,46.61,0.0511,0.1471,8.54,0.5550,0.4109,0.3951,0.1849,0.0409,0.1356,11061451000,37165508557,Utilidade Pública,Energia Elétrica,Energia Elétrica

### Visualizando os detalhes do dataset

In [4]:
df.info() # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Empresa               6 non-null      object
 1   Ticker                6 non-null      object
 2   Valor Atual           6 non-null      float64
 3   Min 52 Semanas        6 non-null      float64
 4   Max 52 Semanas        6 non-null      float64
 5   Dividend Yield        5 non-null      float64
 6   Valorizacao 12 Meses  6 non-null      float64
 7   P/L                   6 non-null      float64
 8   Margem Bruta          5 non-null      float64
 9   Margem Líquida        5 non-null      float64
 10  ROE                   6 non-null      float64
 11  ROIC                  5 non-null      float64
 12  CAGR Receitas 5 Anos  4 non-null      float64
 13  CAGR Lucros 5 Anos    5 non-null      float64
 14  Patrimônio Líquido    6 non-null      int64
 15  Valor de Mercado      6 non-null      int64
 16  Setor                 6 non-null      object
 17  Subsetor              6 non-null      object
 18  Segmento              6 non-null      object
dtypes: float64(12), int64(2), object(5)
memory usage: 1.0+ KB

### Visualizando as estatísticas das colunas numéricas

In [7]:
df.describe() # Usando a função que exibe as estatísticas das colunas numéricas

,Valor Atual,Min 52 Semanas,Max 52 Semanas,Dividend Yield,Valorizacao 12 Meses,P/L,Margem Bruta,Margem Líquida,ROE,ROIC,CAGR Receitas 5 Anos,CAGR Lucros 5 Anos,Patrimônio Líquido,Valor de Mercado
count,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,5.000000,5.000000,6.000000,5.000000,4.000000,5.000000,6.000000e+00,6.000000e+00
mean,27.211667,21.096667,28.273333,0.107420,0.181400,9.305000,0.372680,0.223900,0.575517,0.292280,0.116275,0.202760,4.167420e+09,2.180556e+10
std,13.774769,12.493806,13.716954,0.074437,0.131064,2.335549,0.107363,0.112185,0.172111,0.065331,0.097964,0.088014,4.967272e+09,2.836175e+10
min,11.690000,7.530000,12.290000,0.051100,0.002700,5.970000,0.293100,0.123500,0.395100,0.184900,0.040900,0.130400,6.231510e+08,2.545030e+09
25%,15.090000,10.552500,16.695000,0.078100,0.125050,8.547500,0.306100,0.171200,0.437875,0.290700,0.054325,0.135600,9.625520e+08,5.025246e+09
50%,28.420000,21.250000,29.785000,0.079000,0.174150,8.660000,0.327700,0.175800,0.555800,0.306300,0.083700,0.188400,1.172375e+09,6.620457e+09
75%,35.900000,28.872500,36.575000,0.090900,0.217025,10.955000,0.381500,0.238100,0.674550,0.319300,0.145650,0.211900,7.855013e+09,2.956555e+10
max,45.700000,38.150000,46.610000,0.238000,0.397400,12.310000,0.555000,0.410900,0.833700,0.360200,0.256800,0.347500,1.106145e+10,7.334000e+10

### Visualizando as estatísticas da colunas categóricas

In [8]:
df.describe(exclude='number') # Exibindo as estatísticas das colunas categóricas

              Empresa Ticker            Setor          Subsetor       Segmento
count               6      6                6                 6              6
unique              6      6                4                 5              5
top     Bb Seguridade  BBSE3  Consumo Cíclico  Construção Civil  Incorporações
freq                1      1                3                 2              2

### Verificando as colunas com valores nulos

In [9]:
df.isnull().sum() # Somando todos os valores nulos de cada coluna

Empresa                 0
Ticker                  0
Valor Atual             0
Min 52 Semanas          0
Max 52 Semanas          0
Dividend Yield          1
Valorizacao 12 Meses    0
P/L                     0
Margem Bruta            1
Margem Líquida          1
ROE                     0
ROIC                    1
CAGR Receitas 5 Anos    2
CAGR Lucros 5 Anos      1
Patrimônio Líquido      0
Valor de Mercado        0
Setor                   0
Subsetor                0
Segmento                0
dtype: int64